<?xml version="1.0" encoding="UTF-8" ?>

<!--
 ____        _ _    ___  ____    _  _    ___
/ ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
\___ \ / _` | | __| | | \___ \  | || |_| | | |
 ___) | (_| | | |_| |_| |___) | |__   _| |_| |
|____/ \__,_|_|\__|\___/|____/     |_|(_)___/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2023 by Josep Sanz Campderrós
More information in https://www.saltos.org or info@saltos.org

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <menu>
        <layout auto="true" container_class="container mt-3" col_class="col-md-4 mb-3">
            <button class="btn btn-primary fs-1 w-100 h-100" onclick="saltos.open('#app/clientes/view')">Customers</button>
            <button class="btn btn-primary fs-1 w-100 h-100" onclick="saltos.open('#app/login/default')">Providers</button>
            <table source="app/clientes/small_list"></table>
            <button class="btn btn-success fs-1 w-100 h-100" onclick="saltos.open('https://www.saltos.org')">Invoices</button>
            <button class="btn btn-danger fs-1 w-100 h-100" onclick="saltos.open('#app/clientes/list')">Bills</button>
            <button class="btn btn-info fs-1 w-100 h-100">Contacts</button>
            <button class="btn btn-info fs-1 w-100 h-100">Emails</button>
            <button class="btn btn-warning fs-1 w-100 h-100">Files</button>
            <button class="btn btn-warning fs-1 w-100 h-100">Documents</button>
        </layout>
    </menu>
</root>
