<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2023 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <menu>
        <javascript>
            <inline>saltos.loading(0)</inline>
            <inline>saltos.clear_screen()</inline>
            <file>core/lib/locutus/locutus.min.js</file>
            <file>core/lib/chartjs/chart.umd.min.js</file>
        </javascript>
        <layout auto="true" container_class="container mt-3" col_class="col-md-4 mb-3">
            <button ifeval="check_user('correo', 'menu')" onclick="saltos.open_window('#app/correo/list')" class="btn btn-primary fs-1 w-100 h-100" eval="true">T("Email")</button>
            <button ifeval="check_user('clientes', 'menu')" onclick="saltos.open_window('#app/clientes/list')" class="btn btn-primary fs-1 w-100 h-100" eval="true">T("Customers")</button>
            <button ifeval="check_user('proveedores', 'menu')" onclick="saltos.open_window('#app/proveedores/list')" class="btn btn-primary fs-1 w-100 h-100" eval="true">T("Providers")</button>
            <button ifeval="check_user('facturas', 'menu')" onclick="saltos.open_window('#app/facturas/list')" class="btn btn-primary fs-1 w-100 h-100" eval="true">T("Invoices")</button>
            <button ifeval="check_user('login', 'menu')" onclick="saltos.open_window('#app/login')" class="btn btn-success fs-1 w-100 h-100" eval="true">T("Login")</button>
            <button ifeval="check_user('tester', 'menu')" onclick="saltos.open_window('#app/tester')" class="btn btn-danger fs-1 w-100 h-100" eval="true">T("Tester")</button>
            <table ifeval="check_user('clientes', 'widget')" source="app/clientes/widget/1" col_class="col-md-6 mb-3"></table>
            <table ifeval="check_user('clientes', 'widget')" source="app/clientes/widget/2" col_class="col-md-6 mb-3"></table>
            <chartjs ifeval="check_user('clientes', 'widget')" source="app/clientes/widget/5" mode="pie"></chartjs>
            <chartjs ifeval="check_user('clientes', 'widget')" source="app/clientes/widget/3" mode="bar"></chartjs>
            <chartjs ifeval="check_user('clientes', 'widget')" source="app/clientes/widget/3" mode="line"></chartjs>
        </layout>
    </menu>
</root>
