<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2024 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <screen>type4</screen>

    <!-- List part -->
    <list default="true">
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"))</check>
        <title>Types list</title>
        <screen eval="true">xmlfile2array("apps/types/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <screen>nofluid</screen>
        <layout append="one">
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <button ifeval="check_user('types', 'create')" onclick="saltos.driver.open('#app/types/create')" value="New type" tooltip="To create a new type" icon="plus-lg"/>
                <div col_class="col"/>
                <hidden id="page" value="0"/>
                <text placeholder="Buscar" tooltip="Para buscar en todos los types" id="search" accesskey="ctrl+f" onenter="saltos.driver.search()"/>
                <button onclick="saltos.driver.search()" value="Buscar" tooltip="Para buscar en todos los types" icon="search"/>
                <button onclick="saltos.driver.reset()" value="Limpiar" tooltip="Para limpiar el filtro" icon="x-lg"/>
            </row>
            <row auto="true" col_class="col-md-12 my-3">
                <table id="table" source="list/types/table"/>
            </row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button onclick="saltos.driver.more()" value="Ver más tipos" tooltip="Para cargar mas tipos en el listado" icon="plus-lg"/>
            </row>
        </layout>
        <javascript>
            <inline>saltos.driver.init("list")</inline>
        </javascript>
    </list>

    <!-- Form part -->
    <form>
        <switch id="active" label="Active"/>
        <text id="name" label="Name" required="true" autofocus="true"/>
        <textarea id="description" label="Description" required="true" height="10em"/>
    </form>
    <data eval="true">execute_query("SELECT * FROM app_types WHERE id=".intval(get_data("rest/3"))." AND ".check_sql(get_data("rest/1"), get_data("rest/2")))</data>

    <create>
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"))</check>
        <title>New type</title>
        <screen eval="true">xmlfile2array("apps/types/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <screen>nofluid</screen>
        <layout append="two,one">
            <row auto="true" col_class="col-md-12 mb-3" eval="true">xmlfile2array("apps/types/xml/app.xml")["form"]</row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button onclick="saltos.driver.insert()" value="Crear" tooltip="Para crear el nuevo cliente" icon="check-lg"/>
                <button onclick="saltos.driver.close()" value="Cancelar" tooltip="Para cancelar la creación del nuevo cliente" icon="x-lg"/>
            </row>
        </layout>
        <javascript>
            <inline>saltos.driver.init("create")</inline>
        </javascript>
    </create>

    <view>
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"), get_data("rest/3"))</check>
        <title>Detail of the type</title>
        <screen eval="true">xmlfile2array("apps/types/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <screen>nofluid</screen>
        <layout append="two,one">
            <row auto="true" col_class="col-md-12 mb-3" eval="true">xmlfile2array("apps/types/xml/app.xml")["form"]</row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button value="Editar" tooltip="Para editar el tipo" icon="pencil">
                    <onclick eval="true">"saltos.driver.open('#app/types/edit/".intval(get_data("rest/3"))."')"</onclick>
                </button>
                <button onclick="saltos.driver.delete()" color="danger" value="Borrar" tooltip="Para borrar el cliente" icon="trash"/>
                <button onclick="saltos.driver.close()" value="Cerrar" tooltip="Para cerrar el detalle del cliente" icon="x-lg"/>
            </row>
        </layout>
        <data eval="true">xmlfile2array("apps/types/xml/app.xml")["data"]</data>
        <javascript>
            <inline>saltos.driver.init("view")</inline>
        </javascript>
    </view>

    <edit>
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"), get_data("rest/3"))</check>
        <title>Modify this type</title>
        <screen eval="true">xmlfile2array("apps/types/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <screen>nofluid</screen>
        <layout append="two,one">
            <row auto="true" col_class="col-md-12 mb-3" eval="true">xmlfile2array("apps/types/xml/app.xml")["form"]</row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button onclick="saltos.driver.update()" value="Guardar" tooltip="Para guardar los cambios del cliente" icon="check-lg"/>
                <button onclick="saltos.driver.close()" value="Cancelar" tooltip="Para cancelar la edición del cliente" icon="x-lg"/>
            </row>
        </layout>
        <data eval="true">xmlfile2array("apps/types/xml/app.xml")["data"]</data>
        <javascript>
            <inline>saltos.driver.init("edit")</inline>
        </javascript>
    </edit>

</root>
