<?xml version="1.0" encoding="UTF-8" ?>

<!--
 ____        _ _    ___  ____    _  _    ___
/ ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
\___ \ / _` | | __| | | \___ \  | || |_| | | |
 ___) | (_| | | |_| |_| |___) | |__   _| |_| |
|____/ \__,_|_|\__|\___/|____/     |_|(_)___/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2023 by Josep Sanz Campderrós
More information in https://www.saltos.org or info@saltos.org

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <view>
        <layout auto="true" container_class="container mt-3" col_class="col-md-6 mb-3">
            <text id="codigo" label="codigo"></text>
            <text id="nombre" label="nombre"></text>
            <text id="nombre1" label="nombre1"></text>
            <text id="nombre2" label="nombre2"></text>
            <text id="cif" label="cif"></text>
            <textarea id="comentarios" label="comentarios"></textarea>
            <text id="corriente" label="corriente"></text>
            <text id="contable" label="contable"></text>
            <integer id="diapago" label="diapago"></integer>
            <text id="direccion" label="direccion"></text>
            <text id="nombre_pais" label="nombre_pais"></text>
            <text id="nombre_provincia" label="nombre_provincia"></text>
            <text id="nombre_poblacion" label="nombre_poblacion"></text>
            <text id="nombre_codpostal" label="nombre_codpostal"></text>
            <text id="email" label="email"></text>
            <text id="web" label="web"></text>
            <integer id="tel_fijo" label="tel_fijo"></integer>
            <integer id="tel_movil" label="tel_movil"></integer>
            <integer id="fax" label="fax"></integer>
            <switch id="activo" label="activo"></switch>
        </layout>
        <data global="data" eval="true">execute_query("SELECT * FROM app_clientes WHERE id=".intval($data["rest"][3]))</data>
    </view>
    <data>
        <data global="data" eval="true">execute_query("SELECT * FROM app_clientes WHERE id=".intval($data["rest"][3]))</data>
    </data>
    <list>
        <layout auto="true" container_class="container mt-3" col_class="col mb-3">
            <table checkbox="true">
                <header eval="true">["Nombre","CIF","Población","C.P."]</header>
                <data eval="true">execute_query_array("SELECT nombre,cif,nombre_poblacion,nombre_codpostal FROM app_clientes ORDER BY id DESC")</data>
                <footer eval="true">["","","Total",execute_query_array("SELECT COUNT(*) total FROM app_clientes")]</footer>
                <divider eval="true">[false,true,true]</divider>
            </table>>
        </layout>
    </list>
    <list2>
        <header eval="true">["Nombre","CIF","Población","C.P."]</header>
        <data eval="true">execute_query_array("SELECT nombre,cif,nombre_poblacion,nombre_codpostal FROM app_clientes ORDER BY id DESC LIMIT 0,5")</data>
        <footer eval="true">["","","Total","5"]</footer>
        <divider eval="true">[false,true,true]</divider>
    </list2>
    <list3>
        <header eval="true">["Nombre","CIF","Población","C.P."]</header>
        <data eval="true">execute_query_array("SELECT nombre,cif,nombre_poblacion,nombre_codpostal FROM app_clientes ORDER BY id ASC LIMIT 0,5")</data>
        <footer eval="true">["","","Total","5"]</footer>
        <divider eval="true">[false,true,true]</divider>
    </list3>
    <plot>
        <data eval="true">[
            "labels" => ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            "datasets" => [[
                    "label" => 'First round',
                    "data" => [8, 5, 3, 5, 2, 3],
                ],[
                    "label" => 'Second round',
                    "data" => [7, 6, 4, 6, 9, 6],
                ],[
                    "label" => 'Third round',
                    "data" => [6, 7, 6, 7, 5, 4],
                ]]
        ]</data>
    </plot>
    <plot2>
        <data eval="true">[
            "labels" => ['Red', 'Blue', 'Yellow', 'Green'],
            "datasets" => [[
                    "label" => 'First round',
                    "data" => [8, 5, 3, 5],
                ]]
        ]</data>
    </plot2>
</root>
