<?xml version="1.0" encoding="UTF-8" ?>

<!--
 ____        _ _    ___  ____    _  _    ___
/ ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
\___ \ / _` | | __| | | \___ \  | || |_| | | |
 ___) | (_| | | |_| |_| |___) | |__   _| |_| |
|____/ \__,_|_|\__|\___/|____/     |_|(_)___/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2023 by Josep Sanz Campderrós
More information in https://www.saltos.org or info@saltos.org

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <layout auto="true" container_class="container mt-3" col_class="col-md-6 mb-3">
        <text id="codigo" label="codigo"></text>
        <switch id="activo" label="activo"></switch>
        <text id="nombre" label="nombre"></text>
        <text id="nombre1" label="nombre1"></text>
        <text id="nombre2" label="nombre2"></text>
        <text id="cif" label="cif"></text>
        <textarea id="comentarios" label="comentarios"></textarea>
        <text id="corriente" label="corriente"></text>
        <text id="contable" label="contable"></text>
        <integer id="diapago" label="diapago"></integer>
        <text id="direccion" label="direccion"></text>
        <text id="nombre_pais" label="nombre_pais"></text>
        <text id="nombre_provincia" label="nombre_provincia"></text>
        <text id="nombre_poblacion" label="nombre_poblacion"></text>
        <text id="nombre_codpostal" label="nombre_codpostal"></text>
        <text id="email" label="email"></text>
        <text id="web" label="web"></text>
        <integer id="tel_fijo" label="tel_fijo"></integer>
        <integer id="tel_movil" label="tel_movil"></integer>
        <integer id="fax" label="fax"></integer>
    </layout>
    <data global="_DATA" eval="true">execute_query("SELECT * FROM app_clientes WHERE id=".intval($_DATA["rest"][3]))</data>
    <view>
        <layout eval="true">xmlfile2array("apps/clientes/app.xml")["layout"]</layout>
        <data eval="true">xmlfile2array("apps/clientes/app.xml")["data"]</data>
    </view>
    <edit>
        <layout eval="true">xmlfile2array("apps/clientes/app.xml")["layout"]</layout>
        <data eval="true">xmlfile2array("apps/clientes/app.xml")["data"]</data>
    </edit>
    <list>
        <layout auto="true" container_class="container mt-3" col_class="col mb-3">
            <table checkbox="true">
                <header eval="true">[
                    "nombre" => "Nombre",
                    "cif" => "CIF",
                    "nombre_poblacion" => "Población",
                    "nombre_codpostal" => "C.P."
                ]</header>
                <data eval="true">add_list_actions(execute_query_array("
                    SELECT id, nombre, cif, nombre_poblacion, nombre_codpostal
                    FROM app_clientes
                    WHERE 1 = 1
                    AND ".make_fulltext_query("a", "clientes", array("minsize" => 1, "default" => "1=1"))."
                    AND ".check_sql("clientes", "list")."
                    ORDER BY id DESC
                "),[
                    ["app" => "clientes", "action" => "view", "class" => "bi-search border-0", "tooltip" => "Ver detalle cliente"],
                    ["app" => "clientes", "action" => "edit", "class" => "bi-pencil-fill border-0", "tooltip" => "Editar cliente"],
                    ["app" => "clientes", "action" => "delete", "class" => "bi-trash-fill border-0", "tooltip" => "Borrar cliente"]
                ])</data>
                <footer eval="true">"Total: " . execute_query("
                    SELECT COUNT(*) total
                    FROM app_clientes
                    WHERE 1 = 1
                    AND ".make_fulltext_query("a", "clientes", array("minsize" => 1, "default" => "1=1"))."
                    AND ".check_sql("clientes", "list")."
                ")</footer>
                <divider eval="true">[false, true, true]</divider>
            </table>>
        </layout>
    </list>
    <widget id="1">
        <header eval="true">["Nombre", "CIF", "Población", "C.P."]</header>
        <data eval="true">execute_query_array("SELECT nombre, cif, nombre_poblacion, nombre_codpostal FROM app_clientes ORDER BY id DESC LIMIT 0,5")</data>
        <footer eval="true">["", "", "Total", "5"]</footer>
        <divider eval="true">[false, true, true]</divider>
    </widget>
    <widget id="2">
        <header eval="true">["Nombre", "CIF", "Población", "C.P."]</header>
        <data eval="true">execute_query_array("SELECT nombre, cif, nombre_poblacion, nombre_codpostal FROM app_clientes ORDER BY id ASC LIMIT 0,5")</data>
        <footer eval="true">["", "", "Total", "5"]</footer>
        <divider eval="true">[false, true, true]</divider>
    </widget>
    <widget id="3">
        <data eval="true">[
            "labels" => ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            "datasets" => [[
                    "label" => 'First round',
                    "data" => [8, 5, 3, 5, 2, 3],
                ],[
                    "label" => 'Second round',
                    "data" => [7, 6, 4, 6, 9, 6],
                ],[
                    "label" => 'Third round',
                    "data" => [6, 7, 6, 7, 5, 4],
                ]]
        ]</data>
    </widget>
    <widget id="5">
        <data eval="true">[
            "labels" => ['Red', 'Blue', 'Yellow', 'Green'],
            "datasets" => [[
                    "label" => 'First round',
                    "data" => [8, 5, 3, 5],
                ]]
        ]</data>
    </widget>
</root>
