<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2024 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <!-- List part -->
    <list>
        <screen>clear</screen>
        <title>types list</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout auto="true" container_class="container-fluid my-3" col_class="col-md-6">
            <row id="list">
                <layout auto="true" container_class="container-fluid mb-3" row_class="row g-1" col_class="col-auto">
                    <button ifeval="check_user('types', 'create')" onclick="saltos.window.open('#app/types/create')" value="New type" tooltip="To create a new type" icon="plus-lg"/>
                    <div col_class="col"/>
                    <hidden id="page" value="0"/>
                    <text placeholder="Buscar" tooltip="Para buscar en todos los types" id="search" accesskey="ctrl+f"/>
                    <button onclick="saltos.types.search()" value="Buscar" tooltip="Para buscar en todos los types" icon="search"/>
                    <button onclick="saltos.types.reset()" value="Limpiar" tooltip="Para limpiar el filtro" icon="x-lg"/>
                </layout>
                <layout auto="true" container_class="container-fluid mb-3" col_class="col-md-12">
                    <table id="table" source="list/types/table"/>
                </layout>
                <layout auto="true" container_class="container-fluid" row_class="row g-1" col_class="col-auto">
                    <div col_class="col"/>
                    <button onclick="saltos.types.more()" value="Ver más tipos" tooltip="Para cargar mas tipos en el listado" icon="plus-lg"/>
                </layout>
            </row>
            <row id="form"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/types/app.js")</file>
            <inline>saltos.types.initialize_search()</inline>
            <inline>saltos.types.initialize_update_list()</inline>
            <inline>saltos.types.initialize_preview()</inline>
        </javascript>
    </list>

    <table id="table" checkbox="true" type="table" limit="25" order="id DESC">
        <header>
            <name label="Name"/>
            <active label="Active"/>
            <description label="Description"/>
        </header>
        <data eval="true">execute_query_array("
            SELECT id, name, active, description
            FROM app_types
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "types", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("types", "list")."
            ORDER BY ".get_data("json/order")."
            LIMIT ".get_data("json/offset").",".get_data("json/limit")."
        ")</data>
        <actions>
            <action app="types" action="view" value="View" icon="search" tooltip="Ver detalle tipo"/>
            <action app="types" action="edit" value="Edit" icon="pencil" tooltip="Editar tipo"/>
            <action app="types" action="delete" value="Delete" icon="trash" tooltip="Borrar tipo" onclick="saltos.types.delete1"/>
        </actions>
        <footer eval="true">"Total: " . execute_query("
            SELECT COUNT(*) total
            FROM app_types
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "types", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("types", "list")."
        ")</footer>
    </table>

    <!-- Form part -->
    <layout auto="true" container_class="container mt-3" col_class="col-md-6 mb-3">
        <text id="name" label="Name" required="true" autofocus="true"/>
        <switch id="active" label="Active"/>
        <textarea id="description" label="Description" col_class="col-md-12 mb-3"/>
    </layout>
    <data eval="true">execute_query("SELECT * FROM app_types WHERE id=".intval(get_data("rest/3"))." AND ".check_sql(get_data("rest/1"), get_data("rest/2")))</data>

    <create>
        <screen>clear</screen>
        <title>New types</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout eval="true">xmlfile2array("apps/types/app.xml")["layout"]</layout>
        <layout auto="true" container_class="container mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button onclick="saltos.types.insert()" value="Crear" tooltip="Para crear el nuevo tipo" icon="check-lg"/>
            <button onclick="saltos.window.close()" value="Cancelar" tooltip="Para cancelar la creación del nuevo tipo" icon="x-lg"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/types/app.js")</file>
        </javascript>
    </create>

    <view>
        <javascript>
            <inline>saltos.app.__form.fields = [];</inline>
        </javascript>
        <layout eval="true">xmlfile2array("apps/types/app.xml")["layout"]</layout>
        <data eval="true">xmlfile2array("apps/types/app.xml")["data"]</data>
        <layout auto="true" container_class="container mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button value="Editar" tooltip="Para editar el tipo" icon="pencil">
                <onclick eval="true">"saltos.window.open('#app/types/edit/".intval(get_data("rest/3"))."')"</onclick>
            </button>
            <button onclick="saltos.types.delete2()" color="danger" value="Borrar" tooltip="Para borrar el tipo" icon="trash"/>
        </layout>
        <javascript>
            <inline>saltos.app.form_disabled(true)</inline>
        </javascript>
        <javascript>
            <inline>saltos.app.form_disabled(true)</inline>
            <file eval="true">file_with_hash("apps/types/app.js")</file>
            <inline>saltos.types.initialize_update_view()</inline>
        </javascript>
    </view>

    <edit>
        <javascript>
            <inline>saltos.app.__form.fields = [];</inline>
        </javascript>
        <layout eval="true">xmlfile2array("apps/types/app.xml")["layout"]</layout>
        <data eval="true">xmlfile2array("apps/types/app.xml")["data"]</data>
        <layout auto="true" container_class="container mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button onclick="saltos.types.update()" value="Guardar" tooltip="Para guardar los cambios del tipo" icon="check-lg"/>
            <button value="Cancelar" tooltip="Para cancelar la edición del tipo" icon="x-lg">
                <onclick eval="true">"saltos.window.open('#app/types/edit/".intval(get_data("rest/3"))."')"</onclick>
            </button>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/types/app.js")</file>
        </javascript>
    </edit>

</root>
