<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2024 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <menu id="new">
        <screen>clear</screen>
        <title>New Tester Demo App</title>
        <navbar id="navbar" space="true" brand.name="SaltOS" brand.logo="img/logo_white.svg" brand.width="25" brand.height="25">
            <items>
                <menu class="navbar-nav me-auto mb-2 mb-lg-0">
                    <item name="Home" disabled="false" onclick="alert(1)"/>
                    <item name="Link" disabled="false" onclick="alert(2)"/>
                    <item name="Dropdown" disabled="false">
                        <menu>
                            <item name="Action" disabled="false" onclick="alert(3)"/>
                            <item name="Another action" disabled="false" onclick="alert(4)"/>
                            <item divider="true"/>
                            <item name="Something else here" disabled="false" onclick="alert(5)"/>
                        </menu>
                    </item>
                    <item name="Disabled" disabled="false" onclick="alert(6)"/>
                </menu>
                <form class="d-flex">
                    <text placeholder="Search" color="light" id="search"/>
                    <button onclick="alert(7)" color="light" class=" mx-1 text-nowrap" value="Search"/>
                </form>
                <menu class="navbar-nav mb-2 mb-lg-0">
                    <item name="Themes" dropdown_menu_end="true">
                        <menu>
                            <item name="bootstrap" disabled="false" onclick="alert('bootstrap')"/>
                            <item name="cerulean" disabled="false" onclick="alert('cerulean')"/>
                            <item name="cosmo" disabled="false" onclick="alert('cosmo')"/>
                            <item name="cyborg" disabled="false" onclick="alert('cyborg')"/>
                            <item name="darkly" disabled="false" onclick="alert('darkly')"/>
                            <item name="flatly" disabled="false" onclick="alert('flatly')"/>
                            <item name="journal" disabled="false" onclick="alert('journal')"/>
                            <item name="litera" disabled="false" onclick="alert('litera')"/>
                            <item name="lumen" disabled="false" onclick="alert('lumen')"/>
                            <item name="lux" disabled="false" onclick="alert('lux')"/>
                            <item name="materia" disabled="false" onclick="alert('materia')"/>
                            <item name="minty" disabled="false" onclick="alert('minty')"/>
                            <item name="morph" disabled="false" onclick="alert('morph')"/>
                            <item name="pulse" disabled="false" onclick="alert('pulse')"/>
                            <item name="quartz" disabled="false" onclick="alert('quartz')"/>
                            <item name="sandstone" disabled="false" onclick="alert('sandstone')"/>
                            <item name="simplex" disabled="false" onclick="alert('simplex')"/>
                            <item name="sketchy" disabled="false" onclick="alert('sketchy')"/>
                            <item name="slate" disabled="false" onclick="alert('slate')"/>
                            <item name="solar" disabled="false" onclick="alert('solar')"/>
                            <item name="spacelab" disabled="false" onclick="alert('spacelab')"/>
                            <item name="superhero" disabled="false" onclick="alert('superhero')"/>
                            <item name="united" disabled="false" onclick="alert('united')"/>
                            <item name="vapor" disabled="false" onclick="alert('vapor')"/>
                            <item name="yeti" disabled="false" onclick="alert('yeti')"/>
                            <item name="zephyr" disabled="false" onclick="alert('zephyr')"/>
                        </menu>
                    </item>
                    <item icon="sun-fill" dropdown_menu_end="true">
                        <menu>
                            <item name="Light" icon="sun-fill" disabled="false" onclick="alert('light')"/>
                            <item name="Dark" icon="moon-stars-fill" disabled="false" onclick="alert('dark')"/>
                        </menu>
                    </item>
                </menu>
            </items>
        </navbar>
        <layout>
            <container auto="true" container_class="container-fluid mt-3" col_class="col-xl-3 col-md-4 col-sm-6 mb-3">
                <text id="campo0" label="Campo 0 (text)" placeholder="Escriba aqui" tooltip="Tooltip 0 (text)">
                    <datalist eval="true">["Uno","Dos","Tres","Cuatro","Cinco","Seis","Siete","Ocho","Nueve","Diez"]</datalist>
                </text>
                <integer id="campo1" label="Campo 1 (integer)" placeholder="Escriba aqui" tooltip="Tooltip 1 (integer)"/>
                <float id="campo2" label="Campo 2 (float)" placeholder="Escriba aqui" tooltip="Tooltip 2 (float)"/>
                <color id="campo3" label="Campo 3 (color)" placeholder="Escriba aqui" tooltip="Tooltip 3 (color)"/>
                <date id="campo4" label="Campo 4 (date)" placeholder="Escriba aqui" tooltip="Tooltip 4 (date)"/>
                <time id="campo5" label="Campo 5 (time)" placeholder="Escriba aqui" tooltip="Tooltip 5 (time)"/>
                <datetime id="campo6" label="Campo 6 (datetime)" placeholder="Escriba aqui" tooltip="Tooltip 6 (datetime)"/>
                <tags id="campo7" label="Campo 7 (tags)" placeholder="Escriba aqui" tooltip="Tooltip 7 (tags)">
                    <datalist eval="true">["PHP","JS","CSS","XML","JavaScript","GNU\/Linux","GNU","Linut","SaltOS","RhinOS"]</datalist>
                    <value>SaltOS, PHP, JavaScript</value>
                </tags>
                <button id="campo8" label="Campo 8 (button)" tooltip="Tooltip 8 (button)" value="Button text here"/>
                <button id="campo9" label="Campo 9 (button)" tooltip="Tooltip 9 (button)" value="Modal test"/>
                <button id="campo10" label="Campo 10 (button)" tooltip="Tooltip 10 (button)" value="Offcanvas test"/>
                <button id="campo11" label="Campo 11 (button)" tooltip="Tooltip 11 (button)" value="Toast test"/>
                <textarea id="campo12" label="Campo 12 (textarea)" placeholder="Escriba aqui" tooltip="Tooltip 12 (textarea)">Texto de prueba

    Adios</textarea>
                <ckeditor id="campo13" label="Campo 13 (ckeditor)" placeholder="Escriba aqui" tooltip="Tooltip 13 (ckeditor)"><![CDATA[Texto de prueba<br/>
    <br/>
    Adios]]></ckeditor>
                <codemirror id="campo14" label="Campo 14 (codemirror)" placeholder="Escriba aqui" tooltip="Tooltip 14 (codemirror)" mode="xml"><![CDATA[<xml>
        <tag>valor</tag>
    </xml>]]></codemirror>
                <multiselect id="campo15" label="Campo 15 (multiselect)" tooltip="Tooltip 15 (multiselect)" value="2,3,5" size="5">
                    <rows eval="true">[
                        ["label"=>"Uno","value"=>1],
                        ["label"=>"Dos","value"=>2],
                        ["label"=>"Tres","value"=>3],
                        ["label"=>"Cuatro","value"=>4],
                        ["label"=>"Cinco","value"=>5],
                        ["label"=>"Seis","value"=>6]
                    ]</rows>
                </multiselect>
                <label id="campo16" label="Campo 16 (label)" tooltip="Tooltip 16 (label)"/>
                <checkbox id="campo17" label="Campo 17 (checkbox)" tooltip="Tooltip 17 (checkbox)" value="0"/>
                <switch id="campo18" label="Campo 18 (switch)" tooltip="Tooltip 18 (switch)" value="0"/>
                <label value="Campo 19 (hidden)" tooltip="Tooltip 19 (hidden)"/>
                <hidden id="campo19" label="Campo 19 (hidden)" tooltip="Tooltip 19 (hidden)"/>
                <password id="campo20" label="Campo 20 (password)" placeholder="Escriba aqui" tooltip="Tooltip 20 (password)"/>
                <file id="campo21" label="Campo 21 (file)" tooltip="Tooltip 21 (file)" multiple="true"/>
                <link id="campo22" label="Campo 22 (link)" tooltip="Tooltip 22 (link)" value="https://www.saltos.org/portal/es/estadisticas"/>
                <select id="campo23" label="Campo 23 (select)" tooltip="Tooltip 23 (select)" value="2">
                    <rows eval="true">[["label"=>"Uno","value"=>1],["label"=>"Dos","value"=>2],["label"=>"Tres","value"=>3]]</rows>
                </select>
                <image id="campo24" label="Campo 24 (image)" tooltip="Tooltip 24 (image)" value="apps/tester/files/philips-pm5544.svg"/>
                <excel id="campo25" label="Campo 25 (excel)" tooltip="Tooltip 25 (excel)" numcols="26" numrows="20"/>
                <pdfjs id="campo26" label="Campo 26 (pdfjs)" tooltip="Tooltip 26 (pdfjs)" src="apps/tester/files/test-josep-1.pdf"/>
                <iframe id="campo27" label="Campo 27 (iframe)" tooltip="Tooltip 27 (iframe)" src="apps/tester/files/philips-pm5544.svg" height="500px"/>
                <table id="campo28" label="Campo 28 (table)" tooltip="Tooltip 28 (table)">
                    <header eval="true">["Name","Surname",["label"=>"Phone","type"=>"html"]]</header>
                    <data eval="true"><![CDATA[[["Josep","Sanz","<a href='#'>654 123 789</a>"],["Jordi","Company","654 123 789"],["Andres","Diaz","654 123 789"]]]]></data>
                    <footer eval="true">["","Total","3"]</footer>
                </table>
                <alert id="campo29" label="Campo 29 (alert)" tooltip="Tooltip 29 (alert)" color="success" title="The alert message!!!" text="This text can be used as you want" close="true">
                    <body><![CDATA[<hr/>More text here]]></body>
                </alert>
                <chartjs id="campo30" label="Campo 30 (chartjs)" tooltip="Tooltip 30 (chartjs)" mode="bar">
                    <data eval="true">["labels"=>["Red","Blue","Yellow","Green","Purple","Orange"],"datasets"=>[["label"=>"First round","data"=>[8,5,3,5,2,3],"borderWidth"=>1],["label"=>"Second round","data"=>[7,6,4,6,9,6],"borderWidth"=>1],["label"=>"Third round","data"=>[6,7,6,7,5,4],"borderWidth"=>1]]]</data>
                </chartjs>
                <chartjs id="campo31" label="Campo 31 (chartjs)" tooltip="Tooltip 31 (chartjs)" mode="line">
                    <data eval="true">["labels"=>["Red","Blue","Yellow","Green","Purple","Orange"],"datasets"=>[["label"=>"First round","data"=>[8,5,3,5,2,3],"borderWidth"=>1],["label"=>"Second round","data"=>[7,6,4,6,9,6],"borderWidth"=>1],["label"=>"Third round","data"=>[6,7,6,7,5,4],"borderWidth"=>1]]]</data>
                </chartjs>
                <chartjs id="campo32" label="Campo 32 (chartjs)" tooltip="Tooltip 32 (chartjs)" mode="pie">
                    <data eval="true">["labels"=>["Red","Blue","Yellow","Green","Purple","Orange"],"datasets"=>[["label"=>"First round","data"=>[8,5,3,5,2,3],"borderWidth"=>1],["label"=>"Second round","data"=>[7,6,4,6,9,6],"borderWidth"=>1],["label"=>"Third round","data"=>[6,7,6,7,5,4],"borderWidth"=>1]]]</data>
                </chartjs>
                <chartjs id="campo33" label="Campo 33 (chartjs)" tooltip="Tooltip 33 (chartjs)" mode="doughnut">
                    <data eval="true">["labels"=>["Red","Blue","Yellow","Green","Purple","Orange"],"datasets"=>[["label"=>"First round","data"=>[8,5,3,5,2,3],"borderWidth"=>1],["label"=>"Second round","data"=>[7,6,4,6,9,6],"borderWidth"=>1],["label"=>"Third round","data"=>[6,7,6,7,5,4],"borderWidth"=>1]]]</data>
                </chartjs>
                <card id="campo34" label="Campo 34 (card)" tooltip="Tooltip 34 (card)" header="Cabecera" footer="Pie" image="apps/tester/files/bootstrap-card.svg" title="Titulo" text="Texto del card">
                    <body><![CDATA[<a href='#'>More info</a>]]></body>
                </card>
                <gallery id="campo35" label="Campo 35 (gallery)" tooltip="Tooltip 35 (gallery)" class="col-4">
                    <images eval="true">[["image"=>"apps/tester/files/anunay-rai-WSW1txL1V84.jpg","title"=>"Foto 1"],["image"=>"apps/tester/files/beasty-0BcxmQx9xas-unsplash.jpg","title"=>"Foto 2"],["image"=>"apps/tester/files/krystal-ng-PrQqQVPzmlw.jpg","title"=>"Foto 3"],"apps/tester/files/luke-jones-vCxjJmdj03k.jpg","apps/tester/files/maryna-yazbeck-rnwDiYrHtM0.jpg","apps/tester/files/mo-nm8b-BUnzuk.jpg"]</images>
                </gallery>
            </container>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/tester/js/app.new.js")</file>
        </javascript>
    </menu>

    <menu id="old">
        <screen>clear</screen>
        <title>Old Tester Demo App</title>
        <javascript>
            <file eval="true">file_with_hash("apps/tester/js/app.old.js")</file>
        </javascript>
    </menu>

    <action id="indexing">
        <temp eval="true">include_once("apps/tester/php/indexing.php")</temp>
    </action>

    <action id="pepe">
        <temp eval="true">include_once("apps/tester/php/pepe.php")</temp>
    </action>
</root>
