<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2024 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <db>
        <type>pdo_mysql</type>
        <pdo_mysql host="localhost" port="3306" name="saltos" user="saltos" pass="saltos"/><!-- for MySQL -->
        <file eval="true">getcwd()."/data/files/saltos.sqlite"</file><!-- for SQLite -->
        <semaphoretimeout>10000000</semaphoretimeout><!-- in microseconds, for SQLite -->
    </db>
    <auth>
        <tokenshortexpires eval="true">86400*1</tokenshortexpires><!-- in seconds, one day -->
        <tokenlongexpires eval="true">86400*30</tokenlongexpires><!-- in seconds, around one month -->
        <passwordexpires eval="true">86400*365</passwordexpires><!-- in seconds, around one year -->
        <passwordminscore>50</passwordminscore><!-- min password strength score -->
    </auth>
    <server>
        <maxmemorylimit>1G</maxmemorylimit><!-- to be used in some actions that requires more memory -->
        <maxexecutiontime>3600</maxexecutiontime><!-- to be used in some actions that requires more time -->
        <cachetimeout>86400</cachetimeout><!-- in seconds, 86400 is 1 day -->
        <percentstop>90</percentstop><!-- long actions stop when reached the 90% of max_execution_time -->
    </server>
    <dirs>
        <logsdir eval="true">getcwd()."/data/logs"</logsdir>
        <filesdir eval="true">getcwd()."/data/files"</filesdir>
        <cachedir eval="true">getcwd()."/data/cache"</cachedir>
        <tempdir eval="true">getcwd()."/data/temp"</tempdir>
        <uploaddir eval="true">getcwd()."/data/upload"</uploaddir>
        <inboxdir eval="true">getcwd()."/data/inbox"</inboxdir>
        <outboxdir eval="true">getcwd()."/data/outbox"</outboxdir>
    </dirs>
    <commands>
        <which>which</which><!-- for check commands -->
        <__which__>which __INPUT__</__which__>
        <timeout>timeout</timeout><!-- for ocr module -->
        <__timeout__>timeout __TIMEOUT__ __COMMAND__</__timeout__>
        <xlsx2csv>xlsxio_xlsx2csv</xlsx2csv><!-- for import optimization -->
        <__xlsx2csv__>cd __DIR__; xlsxio_xlsx2csv __INPUT__</__xlsx2csv__>
        <svnversion>svnversion</svnversion>
        <__svnversion__>cd __DIR__; svnversion</__svnversion__>
        <gitversion>git</gitversion>
        <__gitversion__>cd __DIR__; git rev-list HEAD --count</__gitversion__>
        <commandtimeout>60</commandtimeout><!-- in seconds, 60 is 1 minute -->
        <commandexpires>3600</commandexpires><!-- in seconds, 3600 is 1 hour -->
    </commands>
    <debug>
        <logfile>saltos.log</logfile>
        <errorfile>error.log</errorfile>
        <warningfile>warning.log</warningfile>
        <deprecatedfile>deprecated.log</deprecatedfile>
        <phperrorfile>phperror.log</phperrorfile>
        <xmlerrorfile>xmlerror.log</xmlerrorfile>
        <dberrorfile>dberror.log</dberrorfile>
        <jserrorfile>jserror.log</jserrorfile>
        <phpwarningfile>phpwarning.log</phpwarningfile>
        <xmlwarningfile>xmlwarning.log</xmlwarningfile>
        <dbwarningfile>dbwarning.log</dbwarningfile>
        <jswarningfile>jswarning.log</jswarningfile>
        <maxfilesize>100M</maxfilesize>
        <slowquerydebug>true</slowquerydebug>
        <slowquerytime>5</slowquerytime><!-- in seconds -->
        <patternquerydebug>false</patternquerydebug>
        <patternquerywords>from app_emails header</patternquerywords>
        <patternqueryoutput>data/temp/query.sql</patternqueryoutput>
    </debug>
    <iniset>
        <memory_limit>128M</memory_limit>
        <max_execution_time>600</max_execution_time><!-- in seconds, 600 are 10 minutes -->
        <date.timezone>Europe/Madrid</date.timezone>
        <default_charset>UTF-8</default_charset>
        <gd.jpeg_ignore_warning>1</gd.jpeg_ignore_warning>
    </iniset>
    <putenv>
        <OLD_LANG eval="true">getenv("LANG")</OLD_LANG><!-- don't touch this, is used as lang in cli sapi mode -->
        <PATH>/bin:/usr/bin:/usr/local/bin</PATH>
        <LANG>es_ES.UTF-8</LANG>
        <HOME>/tmp/</HOME>
    </putenv>
    <extras>
        <mb_internal_encoding>UTF-8</mb_internal_encoding>
        <mb_detect_order>
            <!-- Codificaciones UTF -->
            <encoding>UTF-8</encoding>
            <encoding>UTF-7</encoding>
            <!-- Codificaciones EUC (Extended Unix Code) - Prioridad alta -->
            <encoding>EUC-CN</encoding>  <!-- Simplified Chinese (alias GB2312) -->
            <encoding>EUC-JP</encoding>  <!-- Japanese -->
            <encoding>EUC-KR</encoding>  <!-- Korean -->
            <!-- Codificaciones BIG5 y Shift_JIS - Prioridad alta -->
            <encoding>BIG5</encoding>    <!-- Traditional Chinese (Taiwan, Hong Kong) -->
            <encoding>Shift_JIS</encoding> <!-- Japanese (Shift JIS) -->
            <!-- Codificaciones ISO-8859 (Latín y otras) -->
            <encoding>ISO-8859-1</encoding>  <!-- Western European (Latin-1) -->
            <encoding>ISO-8859-2</encoding>  <!-- Central European (Latin-2) -->
            <encoding>ISO-8859-3</encoding>  <!-- South European (Latin-3) -->
            <encoding>ISO-8859-4</encoding>  <!-- North European (Latin-4) -->
            <encoding>ISO-8859-5</encoding>  <!-- Cyrillic (Latin/Cyrillic) -->
            <encoding>ISO-8859-6</encoding>  <!-- Arabic -->
            <encoding>ISO-8859-7</encoding>  <!-- Greek -->
            <encoding>ISO-8859-8</encoding>  <!-- Hebrew -->
            <encoding>ISO-8859-9</encoding>  <!-- Turkish -->
            <encoding>ISO-8859-10</encoding> <!-- Nordic -->
            <encoding>ISO-8859-11</encoding> <!-- Thai -->
            <!-- No existe ISO-8859-12 -->
            <encoding>ISO-8859-13</encoding> <!-- Baltic -->
            <encoding>ISO-8859-14</encoding> <!-- Celtic -->
            <encoding>ISO-8859-15</encoding> <!-- Western European (Latin-9) -->
            <encoding>ISO-8859-16</encoding> <!-- South-Eastern European (Latin-10) -->
            <!-- Codificaciones Windows-125x -->
            <encoding>Windows-1250</encoding> <!-- Central European -->
            <encoding>Windows-1251</encoding> <!-- Cyrillic -->
            <encoding>Windows-1252</encoding> <!-- Western European -->
            <encoding>Windows-1253</encoding> <!-- Greek -->
            <encoding>Windows-1254</encoding> <!-- Turkish -->
            <encoding>Windows-1255</encoding> <!-- Hebrew -->
            <encoding>Windows-1256</encoding> <!-- Arabic -->
            <encoding>Windows-1257</encoding> <!-- Baltic -->
            <encoding>Windows-1258</encoding> <!-- Vietnamese -->
            <!-- Codificaciones KOI8 -->
            <encoding>KOI8-R</encoding>  <!-- Russian -->
            <encoding>KOI8-U</encoding>  <!-- Ukrainian -->
            <!-- Codificaciones CP (Code Page) -->
            <encoding>CP1250</encoding> <!-- Central European -->
            <encoding>CP1251</encoding> <!-- Cyrillic -->
            <encoding>CP1252</encoding> <!-- Western European -->
            <encoding>CP1253</encoding> <!-- Greek -->
            <encoding>CP1254</encoding> <!-- Turkish -->
            <encoding>CP1255</encoding> <!-- Hebrew -->
            <encoding>CP1256</encoding> <!-- Arabic -->
            <encoding>CP1257</encoding> <!-- Baltic -->
            <encoding>CP1258</encoding> <!-- Vietnamese -->
            <!-- Codificaciones DOS -->
            <encoding>CP437</encoding>  <!-- Original IBM PC (DOS) -->
            <encoding>CP737</encoding>  <!-- Greek (DOS) -->
            <encoding>CP850</encoding>  <!-- Western European (DOS) -->
            <encoding>CP852</encoding>  <!-- Central European (DOS) -->
            <encoding>CP855</encoding>  <!-- Cyrillic (DOS) -->
            <encoding>CP857</encoding>  <!-- Turkish (DOS) -->
            <encoding>CP858</encoding>  <!-- Western European (DOS with € symbol) -->
            <encoding>CP860</encoding>  <!-- Portuguese (DOS) -->
            <encoding>CP861</encoding>  <!-- Icelandic (DOS) -->
            <encoding>CP862</encoding>  <!-- Hebrew (DOS) -->
            <encoding>CP863</encoding>  <!-- French Canadian (DOS) -->
            <encoding>CP865</encoding>  <!-- Nordic (DOS) -->
            <encoding>CP866</encoding>  <!-- Cyrillic (DOS) -->
            <encoding>CP869</encoding>  <!-- Greek (DOS) -->
            <!-- Codificaciones EBCDIC -->
            <encoding>CP37</encoding>    <!-- EBCDIC US-Canada -->
            <encoding>CP930</encoding>   <!-- EBCDIC Japanese -->
            <encoding>CP1047</encoding>  <!-- EBCDIC Latin-1 Open Systems -->
            <!-- Codificaciones Mac -->
            <encoding>MacRoman</encoding>        <!-- Western European (Mac) -->
            <encoding>MacCentralEurope</encoding> <!-- Central European (Mac) -->
            <encoding>MacGreek</encoding>        <!-- Greek (Mac) -->
            <encoding>MacCyrillic</encoding>     <!-- Cyrillic (Mac) -->
            <encoding>MacHebrew</encoding>       <!-- Hebrew (Mac) -->
            <encoding>MacTurkish</encoding>      <!-- Turkish (Mac) -->
        </mb_detect_order>
    </extras>
    <unoconv>
        <soffice>soffice</soffice><!-- for unoconv module -->
        <__soffice__>soffice --headless --convert-to __FORMAT__ --outdir __OUTDIR__ __INPUT__ 2>&amp;1</__soffice__>
        <__soffice_formats__>bib,doc,xml,docx,fodt,html,ltx,txt,odt,ott,pdb,pdf,psw,rtf,sdw,stw,sxw,uot,vor,wps,bmp,emf,eps,fodg,gif,jpg,met,odd,otg,pbm,pct,pgm,png,ppm,ras,std,svg,svm,swf,sxd,tiff,wmf,xhtml,xpm,fodp,odg,odp,otp,potm,pot,pptx,pps,ppt,pwp,sda,sdd,sti,sxi,uop,csv,dbf,dif,fods,ods,xlsx,ots,pxl,sdc,slk,stc,sxc,uos,xls,xlt</__soffice_formats__>
        <pdftotext>pdftotext</pdftotext><!-- for unoconv module -->
        <__pdftotext__>pdftotext -nopgbrk -layout __INPUT__ __OUTPUT__ 2>&amp;1</__pdftotext__>
        <pdftoppm>pdftoppm</pdftoppm><!-- for ocr module included in unoconv -->
        <__pdftoppm__>pdftoppm -r 300 -l 1000 __INPUT__ __OUTPUT__ 2>&amp;1</__pdftoppm__>
        <convert>convert</convert><!-- for ocr module included in unoconv -->
        <__convert__>convert __INPUT__ -quality 100 __OUTPUT__ 2>&amp;1</__convert__>
        <tesseract>tesseract</tesseract><!-- for ocr module included in unoconv -->
        <__tesseract__>tesseract __INPUT__ __OUTPUT__ --psm 1 hocr 2>&amp;1</__tesseract__>
    </unoconv>
</root>
