<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2024 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <screen>type2</screen>

    <!-- List part -->
    <list default="true">
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"))</check>
        <title>Customer's list</title>
        <screen eval="true">xmlfile2array("apps/customers/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <layout append="one">
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <button ifeval="check_user('customers', 'create')" onclick="saltos.driver.open('#app/customers/create')" label="Nuevo cliente" tooltip="Para crear un nuevo cliente" icon="plus-lg"/>
                <div col_class="col"/>
                <hidden id="page" value="0"/>
                <text placeholder="Buscar" tooltip="Para buscar en todos los customers" id="search" accesskey="ctrl+f" onenter="saltos.driver.search()"/>
                <button onclick="saltos.driver.search()" label="Buscar" tooltip="Para buscar en todos los customers" icon="search"/>
                <button onclick="saltos.driver.reset()" label="Limpiar" tooltip="Para limpiar el filtro" icon="x-lg"/>
            </row>
            <row auto="true" col_class="col-md-12 my-3">
                <table id="table" source="list/customers/table"/>
            </row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button onclick="saltos.driver.more()" label="Ver más clientes" tooltip="Para cargar mas clientes en el listado" icon="plus-lg"/>
            </row>
        </layout>
        <gettext eval="true">T([])</gettext>
        <javascript>
            <inline>saltos.driver.init("list")</inline>
        </javascript>
    </list>

    <!-- Form part -->
    <form>
        <text id="codigo" label="Codigo"/>
        <switch id="activo" label="Activo"/>
        <text id="nombre" label="Nombre" required="true" autofocus="true"/>
        <text id="nombre1" label="Nombre1"/>
        <text id="nombre2" label="Nombre2"/>
        <text id="cif" label="CIF" required="true"/>
        <textarea id="comentarios" label="Comentarios"/>
        <text id="corriente" label="C. corriente"/>
        <text id="contable" label="C. contable"/>
        <text id="diapago" label="Dia de pago"/>
        <text id="direccion" label="Dirección"/>
        <text id="nombre_pais" label="Pais"/>
        <text id="nombre_provincia" label="Provincia"/>
        <text id="nombre_poblacion" label="Poblacion" required="true"/>
        <text id="nombre_codpostal" label="Cod. postal" required="true"/>
        <text id="email" label="Email"/>
        <text id="web" label="Web"/>
        <text id="tel_fijo" label="Tel fijo"/>
        <text id="tel_movil" label="Tel movil"/>
        <text id="fax" label="Fax"/>
    </form>
    <data eval="true">execute_query("SELECT * FROM app_customers WHERE id=".intval(get_data("rest/3"))." AND ".check_sql(get_data("rest/1"), get_data("rest/2")))</data>

    <create>
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"))</check>
        <title>New customer</title>
        <screen eval="true">xmlfile2array("apps/customers/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <layout append="two,one">
            <row auto="true" col_class="col-md-6 mb-3" eval="true">xmlfile2array("apps/customers/xml/app.xml")["form"]</row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button onclick="saltos.driver.insert()" label="Crear" tooltip="Para crear el nuevo cliente" icon="check-lg"/>
                <button onclick="saltos.driver.close()" label="Cancelar" tooltip="Para cancelar la creación del nuevo cliente" icon="x-lg"/>
            </row>
        </layout>
        <gettext eval="true">T([])</gettext>
        <javascript>
            <inline>saltos.driver.init("create")</inline>
        </javascript>
    </create>

    <view>
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"), get_data("rest/3"))</check>
        <title>Detail of the customer</title>
        <screen eval="true">xmlfile2array("apps/customers/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <layout append="two,one">
            <row auto="true" col_class="col-md-6 mb-3" eval="true">xmlfile2array("apps/customers/xml/app.xml")["form"]</row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button label="Editar" tooltip="Para editar el cliente" icon="pencil">
                    <onclick eval="true">"saltos.driver.open('#app/customers/edit/".intval(get_data("rest/3"))."')"</onclick>
                </button>
                <button onclick="saltos.driver.delete()" color="danger" label="Borrar" tooltip="Para borrar el cliente" icon="trash"/>
                <button onclick="saltos.driver.close()" label="Cerrar" tooltip="Para cerrar el detalle del cliente" icon="x-lg"/>
            </row>
        </layout>
        <data eval="true">xmlfile2array("apps/customers/xml/app.xml")["data"]</data>
        <gettext eval="true">T([])</gettext>
        <javascript>
            <inline>saltos.driver.init("view")</inline>
        </javascript>
    </view>

    <edit>
        <check eval="true">check_app_perm_id_json(get_data("rest/1"), get_data("rest/2"), get_data("rest/3"))</check>
        <title>Modify this customer</title>
        <screen eval="true">xmlfile2array("apps/customers/xml/app.xml")["screen"]</screen>
        <navbar eval="true">xmlfile2array("apps/dashboard/xml/navbar.xml")["navbar"]</navbar>
        <layout append="two,one">
            <row auto="true" col_class="col-md-6 mb-3" eval="true">xmlfile2array("apps/customers/xml/app.xml")["form"]</row>
            <row auto="true" row_class="row g-1" col_class="col-auto">
                <div col_class="col"/>
                <button onclick="saltos.driver.update()" label="Guardar" tooltip="Para guardar los cambios del cliente" icon="check-lg"/>
                <button onclick="saltos.driver.close()" label="Cancelar" tooltip="Para cancelar la edición del cliente" icon="x-lg"/>
            </row>
        </layout>
        <data eval="true">xmlfile2array("apps/customers/xml/app.xml")["data"]</data>
        <gettext eval="true">T([])</gettext>
        <javascript>
            <inline>saltos.driver.init("edit")</inline>
        </javascript>
    </edit>

    <!-- Widget part -->
    <widget id="plot1">
        <data eval="true">[
            "labels" => ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            "datasets" => [[
                    "label" => 'First round',
                    "data" => [8, 5, 3, 5, 2, 3],
                ],[
                    "label" => 'Second round',
                    "data" => [7, 6, 4, 6, 9, 6],
                ],[
                    "label" => 'Third round',
                    "data" => [6, 7, 6, 7, 5, 4],
                ]]
        ]</data>
    </widget>

    <widget id="plot2">
        <data eval="true">[
            "labels" => ['Red', 'Blue', 'Yellow', 'Green'],
            "datasets" => [[
                    "label" => 'First round',
                    "data" => [8, 5, 3, 5],
                ]]
        ]</data>
    </widget>
</root>
