<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2023 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <menu>
        <javascript>
            <inline>saltos.loading()</inline>
            <inline>saltos.clear_screen()</inline>
        </javascript>
        <layout>
            <div class="vh-100 d-flex bg-body-secondary">
                <layout auto="true" container_class="container m-auto bg-body rounded p-5" col_class="col mb-3" cols_per_row="1" container_style="max-width:400px">
                    <image width="100px" height="100px" value="core/img/logo_red.svg"  col_class="col mb-3 text-center"/>
                    <label class="fs-2 w-100 text-center" value="Please login"/>
                    <text id="user" label="Username" required="true"/>
                    <password id="pass" label="Password" required="true"/>
                    <button class="btn-primary w-100" onclick="saltos.login.authenticate();" value="Login" col_class="col my-3"/>
                    <label class="w-100 text-center" value="(C) 2023 The SaltOS Project" col_class="col mt-3"/>
                </layout>
            </div>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/login/app.js")</file>
            <inline>saltos.login.initialize()</inline>
        </javascript>
    </menu>
</root>
