<?xml version="1.0" encoding="UTF-8" ?>

<!--
 ____        _ _    ___  ____    _  _    ___
/ ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
\___ \ / _` | | __| | | \___ \  | || |_| | | |
 ___) | (_| | | |_| |_| |___) | |__   _| |_| |
|____/ \__,_|_|\__|\___/|____/     |_|(_)___/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2023 by Josep Sanz Campderrós
More information in https://www.saltos.org or info@saltos.org

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <default>
        <actions>
            <action>layout</action>
            <action>login</action>
            <action>logout</action>
        </actions>
    </default>
    <layout>
        <method>json</method>
        <layout>
            <container class="container">
                <row>
                    <col class="col mb-3 mt-5 text-center">
                        <image class="nada" width="100px" height="100px">img/logo_red.svg</image>
                    </col>
                </row>
                <row>
                    <col class="col mb-3">
                        <text name="user" label="Username" required="true"></text>
                    </col>
                </row>
                <row>
                    <col class="col mb-3">
                        <password name="pass" label="Password" required="true"></password>
                    </col>
                </row>
                <row>
                    <col class="col mb-3 text-center">
                        <button class="btn-primary" onclick="alert(1);">Submit</button>
                    </col>
                </row>
            </container>
        </layout>
    </layout>
</root>
