parameters:
    level: 5
    scanFiles:
        - ../code/api/index.php
    scanDirectories:
        - ../code/api/php
        - ../code/api/lib
        - ../utest
        - ../code/apps/certs/php
        - ../code/apps/common/php
        - ../code/apps/dashboard/php
        - ../code/apps/emails/php
        - ../code/apps/emails/lib
        - ../code/apps/sales/php
        - ../code/apps/users/php
    ignoreErrors:
        - identifier: requireOnce.fileNotFound
