<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="../utest/lib/autoload.php"
         colors="true"
         testdox="true"
         cacheDirectory="/tmp/phpunit.cache"
         displayDetailsOnIncompleteTests="true"
         displayDetailsOnSkippedTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         stopOnFailure="true"
         stopOnError="true">
    <testsuites>
        <testsuite name="utest">
            <directory prefix="test_" suffix=".php">../utest</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../code/api/php</directory>
        </include>
        <exclude>
            <file>../code/api/php/autoload/compat.php</file>
            <file>../code/api/php/autoload/pcov.php</file>
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true">
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="true"/>
            <html outputDirectory="/tmp/phpunit.report"/>
        </report>
    </coverage>
</phpunit>
