<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    testdox="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    cacheResult="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="utest">
            <directory>../utest</directory>
        </testsuite>
    </testsuites>
</phpunit>
