<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2024 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <!-- List part -->
    <list>
        <screen>clear</screen>
        <title>Email's list</title>
        <layout auto="true" container_class="container-fluid mt-3" col_class="col-auto">
            <button ifeval="check_user('emails', 'create')" onclick="saltos.core.open_window('#app/emails/create')" col_class="col-auto pe-0" class="btn btn-primary" value="Nuevo correo" tooltip="Para enviar un nuevo correo" icon="plus-lg"/>
            <div col_class="col p-0"/>
            <hidden id="page" value="0"/>
            <text col_class="col-auto p-0" placeholder="Buscar" tooltip="Para buscar en todo el correo" id="search"/>
            <button onclick="saltos.emails.search()" col_class="col-auto p-0 ms-1" class="btn btn-primary" value="Buscar" tooltip="Para buscar en todo el correo" icon="search"/>
            <button onclick="saltos.emails.clear_filter()" col_class="col-auto p-0 ms-1" class="btn btn-primary" value="Limpiar" tooltip="Para limpiar el filtro" icon="x-lg"/>
            <button onclick="saltos.emails.send_and_get()" col_class="col-auto ps-0 ms-1" class="btn btn-primary" value="Enviar y recibir" tooltip="Para enviar el correo pendiente y recibir nuevo correo" icon="envelope"/>
            <table col_class="col-md-12 my-3" source="list/emails/table"/>
            <div col_class="col mb-3"/>
            <button onclick="saltos.emails.read_more()" col_class="col-auto mb-3 ps-0 ms-1" class="btn btn-primary" value="Ver más correos" tooltip="Para cargar mas correos en el listado" icon="view-list"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/emails/app.js")</file>
            <inline>saltos.emails.initialize()</inline>
        </javascript>
    </list>

    <table checkbox="true" type="table" limit="50" order="datetime DESC">
        <header>
            <from_to label="De/Para"/>
            <subject label="Asunto"/>
            <date_time label="Fecha"/>
        </header>
        <data eval="true">execute_query_array("
            SELECT id, IF(is_outbox, `to`, `from`) from_to, subject,
                IF(DATE(datetime)=DATE(NOW()), DATE_FORMAT(datetime,'%H:%i:%s'), DATE_FORMAT(datetime,'%d/%m/%y')) date_time
            FROM app_emails
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "emails", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("emails", "list")."
            ORDER BY ".get_data("json/order")."
            LIMIT ".get_data("json/offset").",".get_data("json/limit")."
        ")</data>
        <actions eval="true">[
            ["app" => "emails", "action" => "view", "value" => "View", "icon" => "search", "tooltip" => "Ver detalle correo"],
            ["app" => "emails", "action" => "delete", "value" => "Delete", "icon" => "trash", "tooltip" => "Borrar correo"],
        ]</actions>
        <footer eval="true">"Total: " . execute_query("
            SELECT COUNT(*) total
            FROM app_emails
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "emails", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("emails", "list")."
        ")</footer>
    </table>

    <create>
        <screen>clear</screen>
        <title>New email</title>
        <layout auto="true" container_class="container mt-3" col_class="col-md-12 mb-3">
            <select id="from" label="From" required="true" autofocus="true">
                <rows eval="true">[
                    ["label"=>"address1@gmail.com","value"=>"address1@gmail.com"],
                    ["label"=>"address2@gmail.com","value"=>"address2@gmail.com"],
                    ["label"=>"address3@gmail.com","value"=>"address3@gmail.com"],
                ]</rows>
            </select>
            <text id="to" label="To"/>
            <text id="cc" label="CC"/>
            <text id="bcc" label="BCC"/>
            <checkbox id="state_crt" label="Request confirmation of receipt" col_class="col-sm-12 col-md-4 col-lg-6 mb-3"/>
            <select id="priority" label="Prioriry" col_class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Low","value"=>-1],
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"High","value"=>1],
                ]</rows>
            </select>
            <select id="sensitivity" label="Sensitivity" col_class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"Personal","value"=>1],
                    ["label"=>"Private","value"=>2],
                    ["label"=>"Confidential","value"=>3],
                ]</rows>
            </select>
            <text id="subject" label="Subject"/>
            <ckeditor id="body" label="Body" height="200px"/>
        </layout>
        <layout auto="true" container_class="container" col_class="col-auto">
            <div col_class="col mb-3"/>
            <button onclick="saltos.emails.insert()" col_class="col-auto mb-3 p-0 ms-1" class="btn btn-primary" value="Crear" tooltip="Para crear el nuevo cliente" icon="check-lg"/>
            <button onclick="saltos.emails.cancel()" col_class="col-auto mb-3 ps-0 ms-1" class="btn btn-primary" value="Cancelar" tooltip="Para cancelar la creación del nuevo cliente" icon="x-lg"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/emails/app.js")</file>
        </javascript>
    </create>

    <view>
        <screen>clear</screen>
        <title>Detail of the email</title>
        <layout auto="true" container_class="container mt-3" col_class="col-md-12 mb-3">
            <text id="from" label="From"/>
            <text id="to" label="To"/>
            <text id="cc" label="CC"/>
            <text id="bcc" label="BCC"/>
            <datetime id="datetime" label="Datetime" col_class="col-sm-6 col-md-4 col-lg-3 mb-3"/>
            <text id="uidl" label="UIDL" col_class="col-sm-6 col-md-4 col-lg-3 mb-3"/>
            <select id="priority" label="Prioriry" col_class="col-sm-6 col-md-2 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Low","value"=>-1],
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"High","value"=>1],
                ]</rows>
            </select>
            <select id="sensitivity" label="Sensitivity" col_class="col-sm-6 col-md-2 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"Personal","value"=>1],
                    ["label"=>"Private","value"=>2],
                    ["label"=>"Confidential","value"=>3],
                ]</rows>
            </select>
            <checkbox id="state_new" label="New" col_class="col-sm-3 col-md-2 col-lg-2 mb-3"/>
            <checkbox id="state_reply" label="Reply" col_class="col-sm-3 col-md-2 col-lg-2 mb-3"/>
            <checkbox id="state_forward" label="Forward" col_class="col-sm-3 col-md-2 col-lg-2 mb-3"/>
            <checkbox id="state_wait" label="Pending" col_class="col-sm-3 col-md-2 col-lg-2 mb-3"/>
            <checkbox id="state_spam" label="SPAM" col_class="col-sm-3 col-md-2 col-lg-2 mb-3"/>
            <checkbox id="state_crt" label="Solicitar confirmación de recepción" col_class="col-sm-9 col-md-10 col-lg-10 mb-3"/>
            <text id="subject" label="Subject"/>
            <iframe id="body" label="Body" height="200px" srcdoc="#"/>
        </layout>
        <data eval="true">execute_query("SELECT * FROM app_emails WHERE id=".intval(get_data("rest/3"))." AND ".check_sql(get_data("rest/1"), get_data("rest/2")))</data>
        <layout auto="true" container_class="container" col_class="col-auto">
            <div col_class="col mb-3"/>
            <button col_class="col-auto mb-3 p-0 ms-1" class="btn btn-primary" value="Editar" tooltip="Para editar el cliente" icon="pencil">
                <onclick eval="true">"saltos.core.open_window('#app/emails/edit/".intval(get_data("rest/3"))."')"</onclick>
            </button>
            <button onclick="saltos.emails.cancel()" col_class="col-auto mb-3 ps-0 ms-1" class="btn btn-primary" value="Cerrar" tooltip="Para cerrar el detalle del cliente" icon="x-lg"/>
        </layout>
        <javascript>
            <inline>saltos.app.form_disabled(true)</inline>
            <file eval="true">file_with_hash("apps/emails/app.js")</file>
        </javascript>
    </view>

    <!-- TODO -->
</root>
