<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2024 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <!-- List part -->
    <list>
        <screen>clear</screen>
        <title>Email's list</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout auto="true" container_class="container-fluid mt-3" row_class="row g-1" col_class="col-auto">
            <button ifeval="check_user('emails', 'create')" onclick="saltos.window.open('#app/emails/create')" value="New email" tooltip="To send a new email" icon="plus-lg"/>
            <div col_class="col"/>
            <hidden id="page" value="0"/>
            <text placeholder="Search" tooltip="To search in all emails contents" id="search" accesskey="ctrl+f"/>
            <button onclick="saltos.emails.search()" value="Search" tooltip="To search in all emails contents" icon="search"/>
            <button onclick="saltos.emails.reset()" value="Reset" tooltip="To reset the search filter" icon="x-lg"/>
            <button onclick="saltos.emails.delete1()" color="danger" value="Delete" tooltip="To delete the selected emails" icon="trash" accesskey="ctrl+delete"/>
            <button onclick="saltos.emails.getmail()" value="Send/Receive" tooltip="To send and receive emails" icon="envelope"/>
        </layout>
        <layout auto="true" container_class="container-fluid my-3" col_class="col-md-12">
            <table source="list/emails/table"/>
        </layout>
        <layout auto="true" container_class="container-fluid mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button onclick="saltos.emails.more()" value="See more emails" tooltip="To load more emails in the list" icon="plus-lg"/>
            <button onclick="saltos.window.close();" value="Close" tooltip="To close this list" icon="x-lg"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/emails/app.js")</file>
            <inline>saltos.emails.initialize()</inline>
        </javascript>
    </list>

    <table checkbox="true" type="table" limit="50" order="datetime DESC">
        <header>
            <from_to label="From/To"/>
            <subject label="Subject"/>
            <date_time label="Date" align="center"/>
            <state label="State" class="state2" align="center"/>
            <files label="" type="icon" class="files2" align="center"/>
        </header>
        <data eval="true">execute_query_array("
            SELECT id, IF(is_outbox, `to`, `from`) from_to, subject,
                IF(DATE(datetime)=DATE(NOW()), DATE_FORMAT(datetime,'%H:%i:%s'), DATE_FORMAT(datetime,'%d/%m/%y')) date_time,
                TRIM(CONCAT_WS(' ',
                    CASE state_sent WHEN 1 THEN 'Sent' ELSE '' END,
                    CASE state_error WHEN '' THEN '' ELSE 'Error' END,
                    CASE WHEN is_outbox=1 AND state_sent=0 AND state_error='' THEN 'Unsent' ELSE '' END,
                    CASE state_new WHEN 1 THEN 'New' ELSE '' END,
                    CASE state_reply WHEN 1 THEN 'Reply' ELSE '' END,
                    CASE state_forward WHEN 1 THEN 'Forward' ELSE '' END,
                    CASE state_wait WHEN 1 THEN 'Wait' ELSE '' END,
                    CASE state_spam WHEN 1 THEN 'Spam' ELSE '' END,
                    CASE priority WHEN -1 THEN 'Low' WHEN 1 THEN 'High' ELSE '' END,
                    CASE sensitivity WHEN 1 THEN 'Personal' WHEN 2 THEN 'Private' WHEN 3 THEN 'Confidential' ELSE '' END,
                    CASE is_outbox+state_new+state_reply+state_forward+state_wait+state_spam+priority*10+sensitivity WHEN 0 THEN 'Read' ELSE '' END
                )) state,
                CASE WHEN state_error!='' THEN 'danger'
                    WHEN state_spam=1 THEN 'danger'
                    WHEN state_new=1 THEN 'success'
                    WHEN state_wait=1 THEN 'primary'
                    ELSE ''
                END state2,
                CASE WHEN files THEN 'paperclip' ELSE '' END files,
                CASE WHEN files THEN 'dark' ELSE '' END files2
            FROM app_emails
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "emails", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("emails", "list")."
            ORDER BY ".get_data("json/order")."
            LIMIT ".get_data("json/offset").",".get_data("json/limit")."
        ")</data>
        <actions eval="true">[
            ["app" => "emails", "action" => "view", "icon" => "search", "tooltip" => "View email"],
        ]</actions>
        <footer eval="true">"Total: " . execute_query("
            SELECT COUNT(*) total
            FROM app_emails
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "emails", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("emails", "list")."
        ")</footer>
    </table>

    <!-- Form part -->
    <create>
        <screen>clear</screen>
        <title>New email</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout auto="true" container_class="container mt-3" col_class="col-md-12 mb-3">
            <select id="from" label="From" required="true" autofocus="true">
                <rows eval="true">[
                    ["label"=>"address1@gmail.com","value"=>"address1@gmail.com"],
                    ["label"=>"address2@gmail.com","value"=>"address2@gmail.com"],
                    ["label"=>"address3@gmail.com","value"=>"address3@gmail.com"],
                ]</rows>
            </select>
            <text id="to" label="To"/>
            <text id="cc" label="CC"/>
            <text id="bcc" label="BCC"/>
            <checkbox id="state_crt" label="Request confirmation of receipt" col_class="col-sm-12 col-md-4 col-lg-6 mb-3"/>
            <select id="priority" label="Prioriry" col_class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Low","value"=>-1],
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"High","value"=>1],
                ]</rows>
            </select>
            <select id="sensitivity" label="Sensitivity" col_class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"Personal","value"=>1],
                    ["label"=>"Private","value"=>2],
                    ["label"=>"Confidential","value"=>3],
                ]</rows>
            </select>
            <text id="subject" label="Subject"/>
            <ckeditor id="body" label="Body" height="200px"/>
        </layout>
        <layout auto="true" container_class="container mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button onclick="saltos.emails.send()" value="Send" tooltip="To send the email" icon="check-lg"/>
            <button onclick="saltos.window.close()" value="Cancel" tooltip="To cancel the email" icon="x-lg"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/emails/app.js")</file>
        </javascript>
    </create>

    <view>
        <screen>clear</screen>
        <title>Detail of the email</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout auto="true" container_class="container mt-3" col_class="col-md-12 mb-3">
            <text id="from" label="From"/>
            <text id="to" label="To"/>
            <text id="cc" label="CC" require="apps/emails/php/getmail.php" ifeval="getmail_field('cc',intval(get_data('rest/3')))"/>
            <text id="bcc" label="BCC" ifeval="getmail_field('bcc',intval(get_data('rest/3')))"/>
            <datetime id="datetime" label="Datetime" col_class="col-sm-6 col-md-4 col-lg-3 mb-3"/>
            <text id="uidl" label="UIDL" col_class="col-sm-6 col-md-4 col-lg-3 mb-3"/>
            <select id="priority" label="Prioriry" col_class="col-sm-6 col-md-2 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Low","value"=>-1],
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"High","value"=>1],
                ]</rows>
            </select>
            <select id="sensitivity" label="Sensitivity" col_class="col-sm-6 col-md-2 col-lg-3 mb-3">
                <rows eval="true">[
                    ["label"=>"Normal","value"=>0],
                    ["label"=>"Personal","value"=>1],
                    ["label"=>"Private","value"=>2],
                    ["label"=>"Confidential","value"=>3],
                ]</rows>
            </select>
            <checkbox id="state_sent" label="Sent" col_class="col-sm-3 col-md-2 col-lg-2 mb-3" ifeval="getmail_field('is_outbox',intval(get_data('rest/3')))"/>
            <checkbox id="state_new" label="New" col_class="col-sm-3 col-md-2 col-lg-2 mb-3" ifeval="!getmail_field('is_outbox',intval(get_data('rest/3')))"/>
            <checkbox id="state_reply" label="Reply" col_class="col-sm-3 col-md-2 col-lg-2 mb-3" ifeval="!getmail_field('is_outbox',intval(get_data('rest/3')))"/>
            <checkbox id="state_forward" label="Forward" col_class="col-sm-3 col-md-2 col-lg-2 mb-3"/>
            <checkbox id="state_wait" label="Pending" col_class="col-sm-3 col-md-2 col-lg-2 mb-3"/>
            <checkbox id="state_spam" label="SPAM" col_class="col-sm-3 col-md-2 col-lg-2 mb-3" ifeval="!getmail_field('is_outbox',intval(get_data('rest/3')))"/>
            <checkbox id="state_crt" label="Request confirmation of receipt" col_class="col-sm-9 col-md-6 col-lg-6 mb-3"/>
            <text id="subject" label="Subject"/>
            <iframe id="body" label="Body" height="200px" srcdoc="Loading...">
                <source eval="true">"app/emails/view/body/".intval(get_data("rest/3"))</source>
            </iframe>
            <table id="files" label="Files" col_class="col-md-12 mb-3" ifeval="count(getmail_files(intval(get_data('rest/3'))))">
                <source eval="true">"list/emails/view/files/".intval(get_data("rest/3"))</source>
            </table>
        </layout>
        <data eval="true">execute_query("SELECT `from`,`to`,cc,bcc,datetime,uidl,priority,sensitivity,state_sent,state_new,state_reply,state_forward,state_wait,state_spam,state_crt,subject
            FROM app_emails WHERE id=".intval(get_data("rest/3"))." AND ".check_sql(get_data("rest/1"), get_data("rest/2")))</data>
        <layout auto="true" container_class="container mb-3" row_class="row g-1" col_class="col-auto">
            <button value="Source" tooltip="To see the source of this email" icon="file-text">
                <onclick eval="true">"saltos.window.open('#app/emails/view/source/".intval(get_data("rest/3"))."')"</onclick>
            </button>
            <button ifeval="!getmail_field('is_outbox',intval(get_data('rest/3'))) AND !getmail_field('state_new',intval(get_data('rest/3')))"
                onclick="saltos.emails.setter('new=1')" color="success" value="New" tooltip="To mark this email as new" icon="patch-check"/>
            <button ifeval="!getmail_field('is_outbox',intval(get_data('rest/3'))) AND getmail_field('state_new',intval(get_data('rest/3')))"
                onclick="saltos.emails.setter('new=0')" color="success" value="No new" tooltip="To unmark this email as new" icon="patch-check"/>
            <button ifeval="!getmail_field('state_wait',intval(get_data('rest/3')))"
                onclick="saltos.emails.setter('wait=1')" value="Wait" tooltip="To mark this email as wait" icon="patch-question"/>
            <button ifeval="getmail_field('state_wait',intval(get_data('rest/3')))"
                onclick="saltos.emails.setter('wait=0')" value="No wait" tooltip="To unmark this email as wait" icon="patch-question"/>
            <button ifeval="!getmail_field('is_outbox',intval(get_data('rest/3'))) AND !getmail_field('state_spam',intval(get_data('rest/3')))"
                onclick="saltos.emails.setter('spam=1')" color="danger" value="Spam" tooltip="To mark this email as spam" icon="patch-exclamation"/>
            <button ifeval="!getmail_field('is_outbox',intval(get_data('rest/3'))) AND getmail_field('state_spam',intval(get_data('rest/3')))"
                onclick="saltos.emails.setter('spam=0')" color="danger" value="No spam" tooltip="To unmark this email as spam" icon="patch-exclamation"/>
            <div col_class="col"/>
            <button ifeval="!getmail_field('is_outbox',intval(get_data('rest/3')))" value="Reply" tooltip="To reply this email" icon="reply">
                <onclick eval="true">"saltos.window.open('#app/emails/create/reply/".intval(get_data("rest/3"))."')"</onclick>
            </button>
            <button ifeval="!getmail_field('is_outbox',intval(get_data('rest/3')))" value="Reply all" tooltip="To reply all this email" icon="reply-all">
                <onclick eval="true">"saltos.window.open('#app/emails/create/replyall/".intval(get_data("rest/3"))."')"</onclick>
            </button>
            <button value="Forward" tooltip="To forward this email" icon="forward">
                <onclick eval="true">"saltos.window.open('#app/emails/create/forward/".intval(get_data("rest/3"))."')"</onclick>
            </button>
            <button onclick="saltos.emails.delete2()" color="danger" value="Delete" tooltip="To delete this email" icon="trash"/>
            <button onclick="saltos.window.close();" value="Close" tooltip="To close this email" icon="x-lg"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/emails/app.js")</file>
            <inline>saltos.app.form_disabled(true)</inline>
        </javascript>
    </view>

    <view id="body">
        <srcdoc require="apps/emails/php/getmail.php" eval="true">getmail_body(intval(get_data("rest/4")))</srcdoc>
    </view>

    <view id="files" checkbox="true" dropdown="false" type="table">
        <header>
            <name>Filename</name>
            <size>Size</size>
        </header>
        <data require="apps/emails/php/getmail.php" eval="true">getmail_files(intval(get_data("rest/4")))</data>
        <actions eval="true">[
            ["app" => "emails", "action" => "view/viewpdf", "icon" => "search", "tooltip" => "Ver adjunto"],
            ["app" => "emails", "action" => "view/download", "icon" => "save", "tooltip" => "Descargar adjunto", "onclick" => "saltos.emails.download"],
        ]</actions>
    </view>

    <view id="source">
        <screen>clear</screen>
        <title>Source of the email</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout auto="true" container_class="container-fluid mt-3" col_class="col-md-12 mb-3">
            <iframe>
                <srcdoc require="apps/emails/php/getmail.php" eval="true">getmail_source(intval(get_data("rest/4")))</srcdoc>
            </iframe>
        </layout>
        <layout auto="true" container_class="container-fluid mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button onclick="saltos.window.close();" value="Close" tooltip="To close this list" icon="x-lg"/>
        </layout>
    </view>

    <view id="viewpdf">
        <screen>clear</screen>
        <title require="apps/emails/php/getmail.php" eval="true">getmail_cid(intval(get_data("rest/4")),get_data("rest/5"))["name"]</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout auto="true" container_class="container-fluid mt-3" col_class="col-md-12 mb-3">
            <pdfjs>
                <srcdoc eval="true">getmail_viewpdf(intval(get_data("rest/4")),get_data("rest/5"))</srcdoc>
            </pdfjs>
        </layout>
        <layout auto="true" container_class="container-fluid mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button onclick="saltos.window.close();" value="Close" tooltip="To close this list" icon="x-lg"/>
        </layout>
    </view>

    <view id="download">
        <file require="apps/emails/php/getmail.php" eval="true">getmail_download(intval(get_data("rest/4")),get_data("rest/5"))</file>
    </view>

    <!-- Actions part -->
    <action id="getmail">
        <array require="apps/emails/php/getmail.php" eval="true">getmail_receive()</array>
    </action>

    <action id="delete">
        <text require="apps/emails/php/getmail.php" eval="true">getmail_delete(get_data("json/ids"))</text>
    </action>

    <action id="setter">
        <text require="apps/emails/php/getmail.php" eval="true">getmail_setter(get_data("json/ids"), get_data("json/what"))</text>
    </action>

    <!-- Config part -->
    <config>
        <screen>clear</screen>
        <title>Config of the email</title>
        <navbar eval="true">xmlfile2array("apps/dashboard/navbar.xml")["navbar"]</navbar>
        <layout auto="true" container_class="container-fluid mt-3" col_class="col-md-12 mb-3">
            <textarea height="200px" value="TODO..." />
        </layout>
        <layout auto="true" container_class="container-fluid mb-3" row_class="row g-1" col_class="col-auto">
            <div col_class="col"/>
            <button onclick="saltos.window.close();" value="Close" tooltip="To close this list" icon="x-lg"/>
        </layout>
    </config>

</root>
