Options -Indexes

<Files "*">
    Require all denied
</Files>

<Files "*.js">
    Require all granted
</Files>

<Files "*.css">
    Require all granted
</Files>

<Files "*.pdf">
    Require all granted
</Files>
