<?xml version="1.0" encoding="UTF-8" ?>

<!--
 -  ____        _ _    ___  ____    _  _    ___
 - / ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
 - \___ \ / _` | | __| | | \___ \  | || |_| | | |
 -  ___) | (_| | | |_| |_| |___) | |__   _| |_| |
 - |____/ \__,_|_|\__|\___/|____/     |_|(_)___/
 -
 - SaltOS: Framework to develop Rich Internet Applications
 - Copyright (C) 2007-2023 by Josep Sanz Campderrós
 - More information in https://www.saltos.org or info@saltos.org
 -
 - This program is free software: you can redistribute it and/or modify
 - it under the terms of the GNU General Public License as published by
 - the Free Software Foundation, either version 3 of the License, or
 - (at your option) any later version.
 -
 - This program is distributed in the hope that it will be useful,
 - but WITHOUT ANY WARRANTY; without even the implied warranty of
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 - GNU General Public License for more details.
 -
 - You should have received a copy of the GNU General Public License
 - along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <!-- List part -->
    <list>
        <javascript>
            <inline>saltos.loading()</inline>
            <inline>saltos.clear_screen()</inline>
        </javascript>
        <layout auto="true" container_class="container-fluid mt-3" col_class="col-auto">
            <button ifeval="check_user('correo', 'create')" onclick="saltos.open_window('#app/clientes/create')" col_class="col-auto pe-0" class="btn btn-primary" value="Nuevo correo" tooltip="Para enviar un nuevo correo"/>
            <div col_class="col p-0"/>
            <hidden id="page" value="0"/>
            <text col_class="col-auto p-0" placeholder="Buscar" tooltip="Para buscar en todo el correo" id="search"/>
            <button onclick="saltos.correo.search()" col_class="col-auto p-0 ms-1" class="btn btn-primary" value="Buscar" tooltip="Para buscar en todo el correo"/>
            <button onclick="saltos.correo.clear_filter()" col_class="col-auto p-0 ms-1" class="btn btn-primary" value="Limpiar" tooltip="Para limpiar el filtro"/>
            <button onclick="saltos.correo.send_and_get()" col_class="col-auto ps-0 ms-1" class="btn btn-primary" value="Enviar y recibir" tooltip="Para enviar el correo pendiente y recibir nuevo correo"/>
            <table col_class="col-md-12 my-3" source="list/correo/table" id="table"/>
            <div col_class="col mb-3"/>
            <button onclick="saltos.correo.read_more()" col_class="col-auto mb-3 ps-0 ms-1" class="btn btn-primary" value="Ver más correos" tooltip="Para cargar mas correos en el listado"/>
        </layout>
        <javascript>
            <file eval="true">file_with_hash("apps/correo/app.js")</file>
            <inline>saltos.correo.initialize()</inline>
        </javascript>
    </list>
    <table checkbox="true" type="table" id="table" limit="50" order="datetime DESC">
        <header eval="true">[
            "de_para" => "De/Para",
            "subject" => "Asunto",
            "date_time" => "Fecha",
        ]</header>
        <data eval="true">execute_query_array("
            SELECT id, IF(is_outbox, para, de) de_para, subject,
                IF(DATE(datetime)=DATE(NOW()), DATE_FORMAT(datetime,'%H:%i:%s'), DATE_FORMAT(datetime,'%d/%m/%y')) date_time
            FROM app_correo
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "correo", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("correo", "list")."
            ORDER BY ".get_data("json/order")."
            LIMIT ".get_data("json/offset").",".get_data("json/limit")."
        ")</data>
        <actions eval="true">[
            ["app" => "correo", "action" => "view", "class" => "bi-search border-0", "tooltip" => "Ver detalle correo"],
            ["app" => "correo", "action" => "edit", "class" => "bi-pencil-fill border-0", "tooltip" => "Editar correo"],
            ["app" => "correo", "action" => "delete", "class" => "bi-trash-fill border-0", "tooltip" => "Borrar correo"],
        ]</actions>
        <footer eval="true">"Total: " . execute_query("
            SELECT COUNT(*) total
            FROM app_correo
            WHERE 1 = 1
            AND ".make_fulltext_query(get_data("json/search"), "correo", ["minsize" => 1, "default" => "1=1"])."
            AND ".check_sql("correo", "list")."
        ")</footer>
    </table>
    <!-- TODO -->
</root>
