<?xml version="1.0" encoding="UTF-8" ?>

<!--
 ____        _ _    ___  ____    _  _    ___
/ ___|  __ _| | |_ / _ \/ ___|  | || |  / _ \
\___ \ / _` | | __| | | \___ \  | || |_| | | |
 ___) | (_| | | |_| |_| |___) | |__   _| |_| |
|____/ \__,_|_|\__|\___/|____/     |_|(_)___/

SaltOS: Framework to develop Rich Internet Applications
Copyright (C) 2007-2023 by Josep Sanz Campderrós
More information in https://www.saltos.org or info@saltos.org

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<root>
    <list>
        <layout auto="true" container_class="container mt-3" col_class="col mb-3">
            <table checkbox="true">
                <header eval="true">[
                    "de_para" => "De/Para",
                    "subject" => "Asunto",
                    "date_time" => "Fecha",
                ]</header>
                <data eval="true">add_list_actions(execute_query_array("
                    SELECT id, IF(is_outbox, para, de) de_para, subject,
                        IF(DATE(datetime)=DATE(NOW()), TIME_FORMAT(datetime,'%H:%i:%s'), DATE_FORMAT(datetime,'%d/%m/%y')) date_time
                    FROM app_correo
                    WHERE 1 = 1
                    AND ".make_fulltext_query("", "correo", array("minsize" => 1, "default" => "1=1"))."
                    AND ".check_sql("correo", "list")."
                    ORDER BY id DESC
                    LIMIT 0,50
                "),[
                    ["app" => "correo", "action" => "view", "class" => "bi-search border-0", "tooltip" => "Ver detalle correo"],
                    ["app" => "correo", "action" => "edit", "class" => "bi-pencil-fill border-0", "tooltip" => "Editar correo"],
                    ["app" => "correo", "action" => "delete", "class" => "bi-trash-fill border-0", "tooltip" => "Borrar correo"]
                ])</data>
                <footer eval="true">"Mostrando 1 de 50 correos (" . execute_query("
                    SELECT COUNT(*) total
                    FROM app_correo
                    WHERE 1 = 1
                    AND ".make_fulltext_query("", "correo", array("minsize" => 1, "default" => "1=1"))."
                    AND ".check_sql("correo", "list")."
                ") . " en total)"</footer>
                <divider eval="true">[false, true, true]</divider>
            </table>>
        </layout>
    </list>
    <!-- TODO -->
</root>
